 :root{
    --main-color:#EA9534;
    --choko-color:#DF7737;
    --danger:#D0313D;
    --bg-color:#EAEAEE;
    --valid :#18902C;
    --grand1:
    linear-gradient(60deg, #D2343E, #D53A3C, #E68D34, #E08738);
}


*{
   padding:0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: poppins sans-serif;
   font-size: aria;
   background: var(--bg-color);
   
   
}

#n-sign-in, #n-sign-up{

    left: 0;
    
}

.dark-mode form input{
    background: transparent;
    & :focus{
        background: transparent;
        outline: none;
    }
    color: var(--bg-color);
}
form .title{
    color: #444;
}
.dark-mode{
    background: #20272B;
    color: #fff;
}


input{
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    padding: 1rem;
    height : 1.5rem;
    color: #444;
}

.wraper{
    box-sizing: border-box;
    position: relative;
    padding: 5px ;
    & button{
        width: 100%;
    }
    & .fas{
    
    }
    & .eye{
        position: absolute;
        top: 20px;
        right: 20px;
        transform: translate(-50%,-50%);
    }
}
label{
    position: absolute;
    top: 0px ;
    left: 10px;
    font-size: 0.7rem;
    transition: all 0.4s ease ;
     color: #333;
}
input:focus~label {
    
    transform: translateY(-10px);
    transition: all 0.4 ease ;
    color: var(--choko-color);
    font-size: 0.8rem;
    
}
input:focus {
    border-bottom: 1px solid var(--main-color);
}
.btn-f{
    width: 100%;
    border: none ;
    outline: none;
    margin: 0.6rem 0;
    padding: 0.5rem;
    border-radius: 20px;
}

.btn{
    font-family: poppins , sans-serif;
    outline:none;
    font-weight: bold;
    position: relative;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    
}
.form-data{
    margin-top: 1rem;
}
.fr{
    display: flex;
    
}
#n-sign-up{
    margin-top: 3rem;
}
#n-sign-in{
    margin-top: 13rem;
}
#n-sec-code{
    margin-top: 13rem;
}
.valid{
    & input{
        border-bottom: 1px var(--main-color);
    }
  &  label{
      display: none;
  }
    
}

.invalid{
    color: var(--danger);
    font-size: 0.9rem;
    & input{
        border-bottom: 1px var(--main-color);
    }
  &  label{
      display: none;
  }
    
}
.active{
    display: block;
}