body{
  font-size: 15px;
  font-family: Poppins , sans-serif;
  font-style:bold;
}
button{
  width: 100%;
  cursor: pointer;
}
.btn{
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border:none;
  height: 44px;
  outline: none;
}
button:disabled{
  color: #fff;
  
}
.btn-load {
  animation: load 1s linear infinite; /* spins forever */
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.3); /* faint circle */
  border-left-color: #fff; /* visible side */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.wrap{
  position: relative;


  }
  & .inic{
    height:15px;
    width: 2px;
    background: #000 ;
    animation: blink 1s infinite ease-in;
    position: absolute;
    top: 35px;
    left: 10px;
  }
}

@keyframes blink{
  from{opacity:0}
  to{opacity:1}
}
@keyframes load {
    0% {transform :rotate(0deg); }
  10% {transform : rotate(90deg) }
   50% {transform : rotate(180deg)}
    75% {transform : rotate(280deg)}
    100% {transform : rotate(360deg)}
}
.pri-btn{
     border-radius: 20px; 
   border: none;
  background:  #0064E0;
   color: #fff;
    width: 100%;
    font-weight: bold;
    padding: 12px;
    font-size :1rem;
    margin: 5px 0;
    cursor: pointer;
  
}
.sec-btn{
  border: 1px solid #ddd;
}
input{
    height: 60px;
    padding :2px;
    width: 100%;
    border: 1px solid #A4ABB1;
    border-radius: 10px;
    display: inline-block;
    margin: 7px 0;
    font-family:  Helvetica, sans-serif;
    padding-left:0.9rem;
    padding-top: 0.7rem;
  font-size: 1.1rem;
    opacity: 0.8;
    
  
}
label{
  color:#666;
}
.validate{
  background: #ddd;
}
*{
  box-sizing: border-box;
}
label {
  position: absolute;
  left: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  color: #999;
}
#code:focus ~ label {
  transform: translateY(-150%);
  font-size: 0.8rem;
  color: #666;
}