@import url("nav.css");
@import url("brand.css");
@import url("form.css");
@import url("page.css");
@import url("button.css");
@import url('modal.css');
@import url('utils.css');
@import url("component.css");
@import url('icons.css');
*{
   box-sizing: border-box;
}