@import url('theme.css');
.modal{
   background: var(--card);
   padding: 1rem;
   width: 100%;
   box-shadow: 0  0 10px var(--main);
   z-index: 999;
   

}
.modal-con{
   background: transparent;
   height: 100vh;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column ;
}
.overlay{
   background: var(--color);
   z-index: 1000;
}
.modal button{
   width: 50%;
   cursor: pointer;
   padding: 0.3rem;
   transition: transform 0.3s ease;
}
.modal .button-group{
   display: flex;
   align-items: flex-end;
   gap: 1rem;
}
