:root {
  --text-primary: #111;
  --text-secondary: #444;
    --bg-primary: #fff;
  --bg-secondary: #f9f9f9;
  --accent: #ff8a00;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.spinner {
  border: 2px solid #f3f3f3; 
  border-top: 2px solid #3498db; 
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fr-end{
  display: flex;
  justify-content: flex-end;
  
}

/*LOADER LOADER LOADER LOADER*/

.loading-con {
  position: relative;
  padding: 5px;
  height: 30px;
  width: 30px;
}

.loading-con .loading {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
  animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    border-left-color: transparent;
    transform: rotate(0deg);
  }
  25% {
    border-top-color: transparent;
    transform: rotate(90deg);
  }
  50% {
    border-right-color: transparent;
    transform: rotate(180deg);
  }
  75% {
    border-bottom-color: transparent;
    transform: rotate(270deg);
  }
  100% {
    border-left-color: transparent; /* loop back to first */
    transform: rotate(360deg);
  }
}
.p-1{
  padding: 1rem;
}
.icon{
  position: absolute;
  top: 0 ;
  left: 0px;
}
button, a, div {
  touch-action: manipulation;
}

button:focus, a:focus {
  outline: none;
  transform: scale(1) !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    
    --text-secondary: #bbb;
  }
}
.card-title{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  color: #111;
  font-size: 1.5rem;
  margin-top: -10px;
}

body {
    font-size: 15px;
    background: #FAFBFD;
    color: var(--text-primary);
    padding:0;
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing :border-box;
    position: relative;
    top: 0;
    left: 0;
}
.project-card .card{ 
  padding: 1rem;
  background-image:url("assets/yellow-ballot-box.jpg");
  line-height: 1;
  margin-top: 7rem;
  
  border-radius: 10px;
  position: relative;
}
.bg-secondary{
  background: var(--bg-secondary);
}
.project-card{
  max-width: 400px;
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card-img{
  position: relative;
  & h1{
    
  }
}
p{
  line-height: 1.6;
  font-size: 0.8rem;
}
.language-selector{
  background: whitesmoke;
  border:1px solid #ccc;
  padding:  10px;
  width: 80%;
  position: absolute;
  top: -45px;
  display: flex;

  align-items:center ;
  justify-content: space-between;
  border-radius: 7px;
  transform: translateX(-50%);
  left: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
 & :hover{
   background: #ccc;
 }
}
.feedback{
  background: white;
  color: #333;
  padding: 1rem 1.7rem;
  & p{
    font-size: 1rem;
  }

  
}

.feedback-con{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  justify-content: center;
  flex-direction:column;
  position: fixed;
  background: #666666;
  top:0;
  left: 0;
  padding: 1rem;
}
  .text_{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
.btn{
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  outline: none;
  padding: 0 20px;
}  
.ballot{
  width: 600x;
  height: 60px ;
  display: none;
  
}
.fa-chevron-down{
  background: #ddd;
}
.champ{
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  
}
.check-mark{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}
.prof-con{
  display: flex;
  align-items: center;
  & h3{
    margin: 5px;
  }

}
.prof-text{
   margin-left: 10px  !important;
  }
.card{
  background: #fff;
  box-shadow: 2px 3px 8px #ccc;
  border-radius: 10px 10px ;
  padding: 0;
}
.text-sm{
  font-size: 0.7rem;
  color:#757372;
  padding: 10px;
}
.card-content{
  padding: 20px;
  padding-top: 0 !important;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction:column;
}
.main-btn{
  background:linear-gradient(220deg, #C26A01,#D78F0F,#FECC04);
  color: #fff;
  transition: all 0.3s ease-in;
  padding:8px;
  
  &:hover, :active{
    transform: scale(0.9);
    background: #AB9F6E;
  }
}
.start{
  margin: 5px 0;
}
.nexa-logo{
  width: 80px;
  height: 50px;
  display: none;
}
.copyright{
  font-size: 0.9rem;
  top: 20px;
  position: relative;
}
.copy-icon{
  font-size: 0.9rem;
}
.facebook-vote{
  display: none;
}
#f-form, #i-form{
  & input{
    padding-left: 1rem;
  }
}
