
.card-container{
   padding-top:1rem ;
   line-height: 1.3;
   padding: 1rem;
}
body{
   background: var(--dark);
   font-size: 14px;
   color: var(--white);
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  padding: 0;
  margin:0;
}
.page-title{
   font-size: 1.4rem;
}
.box{
   border: var(--border) ;
   border-radius: 0.7rem;
   padding: 0 1rem;
   margin: 1.2rem 0;

}
.card-header{
   padding-top: 1rem;
}
.times{
   font-size: 2.5rem;
   font-weight: 300;
}
.fsb{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
a{
   color: #19A0ED;
   text-decoration: none#42445A;
}
.box .label,.box p{
   margin: 0.3rem 0;
   padding: 0;
}
.label{
   color: #D6D9DA;
}
.mtd{
   margin: 0;
}
.fc{
   display: flex;
   justify-content: center;
   align-items: center;
}
.p4{
   padding: 1rem;
}
#studentId{
   
   border: 1px solid white;
}
.footer button{
   
   
}
.footer{
   position: absolute;
   bottom: 1rem;
   left: 0;
   width: 100%;
   padding: 1rem;
   border-top: var(--border);
   padding-bottom: 2rem ;
}
button{
   border: none ;
   cursor: pointer;
   trasitition:0.3s ease;
   text-align: center;
   font-weight: 600;
   font-size: 1rem;
   width: 100%;
   border-radius: 20px;
   padding: 0.8rem; 
}
.ill{
   width: 100%;
   border-radius: 0.8rem;
    margin-top: 1rem;
}
.page{
   display: none;
}
.page.active{
   display: block;
}
button:active{
   transform: scale(0.98);
}
.main-btn{
   background: var(--main);
   color: var(--white);
   outline: none;
   text-align: center;
   
}
