
:root{
    --main-color:#EA9534;
    --choko-color:#DF7737;
    --danger:#D0313D;
    --bg-color:#EAEAEE;
    --valid :#18902C;
    --grand1:
    linear-gradient(60deg, #D2343E, #D53A3C, #E68D34, #E08738);
    
}
html{
   scroll-behavior: smooth;
}
body{
   background: #ccc;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
header{
   background: #fff;
   border-bottom: 2px solid #F6D580;
   position: fixed;
   top: 0;
   left: 0;
   
   width: 100%;
   
}
.num{
   background: #ccc;
   padding: 0.2rem;
display: inline-block;

border-radius: 50%;

& p{
   padding: 0;
   margin: 0;
}
}
.steps, .instruction{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 0.8rem;
}
.step-indicator-con{
  flex-direction: row !important;
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.steps{
   color: #666;
}
.steps.active{
   color: #000;
   & .num{
      background: var(--main-color);
   }
}
.instruction{
   & h3{
      margin: 0;
      padding: 0;
   }
}
.fc-center{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.ballot-box{
   width: 100px;
   margin-top: 2rem;
}
.fr-sb{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
#vote-candidates{
   background: url("/frontend /assets/icons/1646fe3a25e466bbfe6eeee6a4924e21_1.png");
   background-position: center;
   object-fit: cover;
   background-repeat: repeat;
   padding-top: 2rem;
   margin-top: 2rem;
}
h4{
   margin: 0.2rem 0;
}

.avata-sm {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #fff; /* optional, gives a clean edge */
  background-color: #f5f5f5; /* fallback if image fails */
  display: block;
}
.con-auto{
   width: auto;
   height: auto;
   display: flex;
}
.card{
   background: #fff;
   
   cursor: pointer;
   &:hover{
      background: #ddd;
   }
   
}
.min-card{
   margin: 5px ;
   box-shadow: 0 0 0 #000;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.ck-box{
   width: 2rem;
   height: 2rem;
}
.flex{
   display: flex;
   align-items: center;
   gap: 10px;
}
.lifter{
   height: 160px;
}
.vote-confirm{
    
}
.main-btn{
   background: var(--main-color);
}
.fr-end{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   & .main-btn{
      padding: 0.6rem 1rem;
      border: none;
      
      
   }
   
}

btn-md{
   width: 100px;
   
}
button{
   cursor: pointer;
   &:disabled{
      pointer-events: none;
   }
}
.country{
   color:var(--main-color);
}
.pri-btn{
   background: var(--main-color);
   color: #fff;
   border: none;
}
.feedback-con{
   background: #666;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   height: 100vh;
   z-index: 999;
}
.feedback{
   background: #fff;
   color: #333;
   
   padding: 1rem;
   
}
.avata-sm