/*buttons styles*/
.sec-btn{
   background: transparent;
   color: var(--main-color);
   border: 1px solid #ccc;
   
}
.body{
   padding: 0;
}
.btn{
   border-radius: 0.3rem;
}
.btn-sm{
   font-size: 0.8rem;
   padding:  0.2rem;
}
.request-btn{

   background: #fff;
}
.page-name{
   padding: 1rem;
}
/*profile styles*/
.profile-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.flex{
   display: flex;
}
.avata{
   border-radius: 50%;
   object-fit: cover;
   background: #eee;
   display: block;
   
}
.avata-1{
   width: 30px;
   padding: 2px;
   height: 30px;
}
*{
   word-wrap: break-word;
}
.p-03{
   padding: 0.3rem;
}
.header{
   padding: 1rem;
}
.card{
   background: #fff;
   box-sizing: border-box;
}
.min-card{
   margin: 5px ;
   padding: 1rem;
}
.avata-2{
   width: 80px;
   padding: 5px;
   height: 80px;
}
.avata-3{
   width: 90px;
   padding: 8px;
   height: 90px;
   
}
.profile-container{
   font-size: 0.6rem;
   padding: 1rem;
}
.name,.firstname,.lastname{
   padding: 0;
   margin: 2px 0;
   font-size: 0.9rem;
   font-weight: 600;
}

/*SWIPE NAVIGATION*/
.page {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.page.hidden {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}
.page.active {
  opacity: 1;
  transform: translateX(0);
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* optional for spacing */
}
.frsb{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.dashboard{
   background: #fff;
   
   color: #666;
   box-shadow: 0 0 6px ;
   border-radius: 20px;
   padding: 1rem;
}
.frsbt{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 1rem;
}
.fr-sb{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#recent-visitors{
   word-wrap: break-word;
}
.card{
   background: #fff;
   border-radius: 1rem;
   padding: 1rem;
}
.nav.active{
   color: var(--grand);
}
.dashboard .details {
   color: #000;
   text-align: center;
   font-weight: 500;
   font-size: 1.3rem;
}
.muted{
   font-size: 0.7rem;
   
}

.muted.country{
   color: var(--main-color);
   background: #eee;
}
.dashboard-title{
   text-align: center;
   margin: 10px;
   
}
.dashboard h4{
   color: #444;
   font-size: 0.7rem;
}
.dashboard .frsb{
   margin-top: 10px;
}
.dashboard .item1{
   grid-row: 2;
}
.dashboard .item1 {
  grid-column:1 / span 2; /* starts at row 2, spans 2 rows */
}
.avata-container{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.avata-container .edit-avata{
   position: absolute;
   top: 1rem;
   right: 10px;
   font-size: 1.8rem;
}

.preview-container{
   height: 400px;
   width: 100%;
}
.hidden{
   display :none;
}
.max-card{
   padding-top: 2.5rem;
}

.avata-4{
   width: 160px;
   background: #ddd;
   padding: 1rem;
   box-shadow: 0 0 0 3px #eee;
   height: 160px;
   min-width: 100px;
   object-fit: cover;
   background-position: center;
   
}
#save-avata{
   background: var(--main-color);
   color: #fff;
   border: none;
   position: absolute;
   right: 10px;
   bottom: -1rem;
   font-weight: 500;
   padding: 0.2rem;
   
}
#save-avata:disabled {
   background: transparent;
   color: transparent;
   opacity: 0;
   border: none;
   
}
.page-title{
   
}
.fa-nav{
   background: #fff;
   cursor:pointer;
}
.page-info{
   font-size:1.2rem;
   margin: 1rem 0;
}
.page-name{
   font-weight: 400;
   margin: 0  0.5rem;
}
#profile .name{
   font-size: 1.4rem;
   font-weight: 600;
   word-spacing: 4px;
}
#prpfile .username{
   font-size: 0.7rem;
   font-weight: 300;
   background: #fff;
}
.user-details{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}
.name,.username{
   position: relative ;
   
   & .fa-pencil{
      position: absolute;
   }
}
